<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuu1ct0GxTEyL9waF22hPAjwozWwg9Xzo</string>
	<key>GCM_SENDER_ID</key>
	<string>202213348151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.minhmenh.desktop</string>
	<key>PROJECT_ID</key>
	<string>minh-menh-ai-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>minh-menh-ai-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202213348151:ios:87e8709246a01a8ac480b2</string>
</dict>
</plist>